{% extends 'base.html.twig' %}

{% block title "Home" %}


{% block body %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe debitis dolorum dicta eius voluptatibus aliquam deserunt ab sed fugit, ad explicabo eveniet neque officiis laboriosam atque consequuntur id eaque? Neque necessitatibus aperiam placeat. Molestiae repellendus, maxime molestias quisquam vitae quis quam magnam. Commodi libero doloribus voluptatibus facere, obcaecati rerum sequi?</p>
{% endblock %}
