<turbo-stream action="replace" target="contact">
	<template>
		<div class="alert-success">
			Merci "{{name}}" !
			<a href=" {{path('app_home')}} ">Retour à l'accueil</a>
		</div>
	</template>
</turbo-stream>
